@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*EGEN STYLING*/

.test {
  height: 80vh;
  position: relative;
  overflow-y: auto;
}

.task-proto {
  margin: 1rem;
}

/* TEXT */

.title {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5rem;
  font-family: "Caudex", serif;
  text-align: center;

  background-color: #BA5326;
  color: #F5F5F5;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.title--doings {
  font-size: 3rem;
  font-family: "Kapakana", sans-serif;
  margin-top: -1.7rem;
}

/* TASKLIST */

.tasklist-container {
  margin: 1rem;
  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
}

.tasklist {
  height: 53vh;
  position: relative;
  overflow-y: auto;
}

.tasklist__task {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  list-style: disc;

  font-family: "Caudex", serif;
  margin-left: 10%;
}

.tasklist__remove-btn {
  color: #9b0000;
  border: 1px solid #9b0000;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  position: absolute;
  right: 10%;

  cursor: pointer;

}

/* FORM */

.addTaskForm {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 10%;
}

.addTaskForm__input {
  background-color: #F5F5F5;
  padding: 0.5rem;
}

.addTaskForm__btn {
  background-color: #556C2B;
  color: #F5F5F5;
  border: none;
  padding: 0.5rem 1rem;
  font-family: "Caudex", serif;
  cursor: pointer;
}